.App {
  text-align: center;
  font-family: "appleM", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  /* font-weight: 600; */
  overflow: scroll;
  background-color: rgba(119, 119, 119, 0.155);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "appleM";
  src: url("/public/fonts/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "appleB";
  src: url("/public/fonts/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
